.sliding_menu
  display: block
  +breakpoint($large)
    display: none
  position: fixed
  overflow-x: hidden
  z-index: 99999
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .95)
  -webkit-transform: translateY(-100%)
  -moz-transform: translateY(-100%)
  -ms-transform: translateY(-100%)
  -o-transform: translateY(-100%)
  transform: translateY(-100%)
  transition: all .25s linear
  &.is-visible
    transform: translateY(0)
  .region-top-bar
    +clearfix
    position: relative
    width: 100vw
    padding: 2em
.layout-container > header
  background-color: black
  color: #f1f1f1
  .region-header
    padding: 1em 0
    position: relative
    z-index: 2

    .site
      &-logo, 
      &-name
        display: inline-block
    h1
      +hide-text
      height: 0
      margin: 0
    a
      color: $white  
      &:hover
        color: $white

  .region-highlighted
    h1
      color: #fff
      text-align: center
    h2
      color: #fff


+breakpoint($large)
  header
    #block-da-vinci-branding
      +span(3 of 12 first)
    #block-menuprincipal
      +span(isolate 8 at 4 of 12)
    #block-languageswitcher
      +span(1 of 12 last)
