<h3 class="quick-info__title">{{ 'Sprints, Sessions, workshops, social activities'|t }}</h3>
<p class="quick-info__text">
    {{ 'Drupal Developer Days is an event organized by the Drupal community
    which gathers people who contribute on the progress of Drupal from all over
     the world, happening in Europe every year. Join us this time in Seville!' }}
</p>
