/**
 * Mixins
 */


// Add padding to container when resolution is smaller than width container defined
=padding-container($container-width, $padding)
  transition: padding .5s ease-in-out
  +breakpoint(max-width $container-width + $padding)
    padding: 0 $padding
    transition: padding .5s ease-in-out
