// Typography
$title: 'Marcellus', serif
$default: 'Open Sans', sans-serif

// Colours
$white: hsla(0, 100%, 100%, 1)
$lightest-gray: #eeeeee
$black: hsla(0, 0%, 0%, 1)
$black2: hsla(0, 0%, 13%, 1)


$color: $black2
$shadow: hsl(0, 0%, 53%)

////////////////////

// Font - Color
$color-body: $color
$color-h: $color
$color-a: $black
$color-a-hover: $black2

// Screen sizes (grid)

$landscape: (orientation:landscape)

// default
// > 360px
$x-small: 22.5em
$x-small-landscape: (orientation landscape) (min-width 22.5em)
// > 480px
$small: 30em
$small-landscape: (orientation landscape) (min-width 30em)

$below_small: 0 29.99em

// > 600px
$medium-small: 37.5em
$medium-small-landscape: (orientation landscape) (min-width 37.5em)

// > 704
$medium: 44em
$medium-landscape: (orientation landscape) (min-width 44em)
$below_medium: 0 43.99em
// > 800px
$medium-big: 50em


// > 1024
$large: 64em
$large-landscape: (orientation landscape) (min-width 64em)

// > 1200
$x-large: 75em
$xx-large: 82em
$xxx-large: 95em
$monster: 118.75em

// Legacy support
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
