<div class="add-session-intro--text">
  <p>
    {{ 'We’re seeking mind-blowingly good sessions for Drupal Developer Days Seville,
   and want to hear from you about what you know best. You don’t have to be the
   best in everything, but if there’s one topic you know inside and out,
   you should submit a session. You can submit your proposal until the 12th of February inclusive.' }}
  </p>
  <p>
    <strong>{{ 'If your session gets selected, we will maintain the early bird
  price to your ticket.' }}
    </strong>
  </p>
</div>
