<div class="add-session-intro--text">
  {{ 'We’re seeking mind-blowingly good sessions for Drupal Developer Days Seville,
   and want to hear from you about what you know best. You don’t have to be the
   best in everything, but if there’s one topic you know inside and out,
   you should submit a session.' }}
</div>
