<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
</style>
<h2>{{ 'Get notified!'|t }}</h2>
<span>{{ 'Sign up to receive updates about the Drupal Developer Days 2017'|t }}</span>
<div id="mc_embed_signup">
    <form action="//asociaciondrupal.us5.list-manage.com/subscribe/post?u=41fc94e8f338161d3c828de6b&amp;id=7ed91230da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_41fc94e8f338161d3c828de6b_7ed91230da" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>
