.news-list
  &__wrapper
    &--featured
      +breakpoint($medium)
        display: inline-block
        width: 54%
        vertical-align: top
  &__title--featured
      margin-bottom: 1rem
      color: $white
      +breakpoint($medium)
        text-align: left
        margin-top: 0
  &__list
    padding: 0
    &--featured
      padding: 0 15px
      +breakpoint($medium)
        padding: 0 15px 0 0
  &__item
    list-style: none
    +breakpoint($small)
      margin-bottom: 2em
    article
      .node__content
        display: flex
        flex-flow: column wrap
        .news__field-image
          padding: 0 10px
        +breakpoint($medium-big)
          flex-flow: row wrap
          .news__field-image
            width: 20%
            padding: 0 10px

  &__footer
    +breakpoint($small)
      text-align: right
    +breakpoint($medium)
      padding-right: 15px
    a
      @extend .button-ghost--white
      position: relative
      display: inline-block
      z-index: 2
  &__teaser
    display: flex
    flex-flow: column nowrap
    +breakpoint($medium-big)
      //.news__body
      width: 80%
      padding: 0 20px
    .node__title
      margin-top: 0
      margin-bottom: 5px
      font-size: 24px
      a
        text-decoration: none
        &::before
          display: none
    .news__body
      flex-grow: 2
      font-size: 16px
      p
        margin-bottom: 0
        margin-top: 0
    .node__meta
      font-size: 14px