.path-frontpage
  text-align: center
  .region
    &-header
      .site
        &-logo,
        &-name
          position: absolute
          top: -9999px
          left: -9999px
    &-content
      #logo
        &:before
          content: url('../images/logo.svg')
          background-repeat: no-repeat
          background-position: center
          width: 300px
          height: 330px
        h1
          position: absolute
          top: -9999px
          left: -9999px
