.page-node-type-keynote
  .node__content
    h3
      text-transform: uppercase
      text-align: center
      +breakpoint($medium-small)
        text-align: left
    > div:not(.text-formatted)
      margin-bottom: 3em
      .field--type-image
        text-align: center
        margin-bottom: 1em
        img
          display: inline-block
        +breakpoint($medium-small)
          float: left
          margin-right: 1.5em
          img
            max-width: 150px
      .field--type-string
        text-align: center
        +breakpoint($medium-small)
          text-align: left
      .field--name-field-image
        position: relative
        &:before
          content: ''
          width: 153px
          height: 153px
          background: url('../images/avatar.svg') no-repeat
          background-size: 100%
          display: block
          z-index: 0
          margin: 0 auto
        img
          display: inline-block
          margin-bottom: 1.5em
          position: absolute
          z-index: 1
          border-radius: 100px
          background-color: $white
          width: 130px
          left: 50%
          top: 11px
          transform: translate(-50%)
.field--name-field
  &-company-name,
  &-speaker-full-name
    font-family: $title
    font-size: 1.5em
    line-height: 1.25em                                              
  &-speaker-position
    font-size: 0.75em
    text-transform: uppercase
    font-family: $title

