.path-contact
  label
    width: 100%
    display: block
    margin-bottom: 6px
  .form-text,
  .form-textarea,
  .form-email
    background: $lightest-gray
    +border-radius(6px)
    border: 1px solid $lightest-gray
    width: 100%